
<app-product></app-product>



<!-- 
<h1>{{obj.name}}</h1>

<br>

<ul>
<li *ngFor="let i of arr">{{i}}</li>

</ul>
<p *ngIf= "isTrue; then firstTemplate else secondTemp">hello</p>

<ng-template #firstTemplate>
 this is firstTemp

</ng-template>
<ng-template #secondTemp>
  this is secondTemp
 
 </ng-template>

<p *ngIf ="myName=='shef' && true">True</p>
 
<a routerLink="/member">member</a>
<a routerLink="/product">product</a>
<br>


<router-outlet></router-outlet>




 -->
<!-- 
 <div class="main">
   <h1>Item's List</h1>
   <div class="addItem">
    <input [(ngModel)]="newItem" placeholder="Add Item" class="addText">
     <button (click)="pushItem()">Add</button>
   </div>

   <ul>
     <li *ngFor ="let i of items; let ind= index"> 
       {{i}}
    <span (click)="removeItem(ind)">X</span>
     </li>
   </ul>
   <h1>{{day |  date:'shortDate'}}</h1>
   <h1>{{day |  date:'fullDate' | uppercase}}</h1>
   <h2>{{name | uppercase}}</h2>
 </div> -->